### App
VITE_APP_NAME=vueqa
VITE_APP_ID=com.vueqa.app
VITE_APP_VERSION=1.0.0

###################### Dev (Capacitor Live Reload)############################
VITE_LIVE_RELOAD=true
VITE_LIVE_RELOAD_SCHEME=http
VITE_LIVE_RELOAD_HOST=localhost
VITE_LIVE_RELOAD_PORT=5173

####################### API ##################################################
VITE_API_URL=http://localhost:8000
VITE_UPDATE_API_URL=https://capucho-back.onrender.com
VITE_UPDATE_CHANNEL=staging


################################# Database ###################################
### Database client Configuration (sqlite)
VITE_DB_FILENAME=vueqa.db
VITE_DB_LOG_LEVEL=DEBUG

### OpenReplay
VITE_OPENREPLAY_PROJECT_KEY=mJl4YYFB8J0vkNRXALfc
VITE_OPENREPLAY_ENABLED=true
VITE_OPENREPLAY_ASSETS_CDN=
